.App {
  max-width: 650px;
  margin: 20px auto;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 15px;
  padding: 10px 10px 200px;
  background: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
